.home {
    width: 100vw;
    height: 100vh;
    background: url('../../../../public/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}